
@property --x {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 50%;
}
@property --y {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 50%;
}

.heed-schematic-element {
  transition:
    border-color 0.4s ease,
    box-shadow 0.4s ease,
    background 0.8s ease,
    background-size 0.8s ease;
  background: radial-gradient(circle at var(--x) var(--y),
    color-mix(in srgb, var(--elm-bg), white 30%) 0%,
    color-mix(in srgb, var(--elm-bg), black 40%) 100%),
              var(--elm-bg);

/*   background-size: 150%; */
}

.heed-schematic-container {
  background-color: gray;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}

.heed-schematic-container-title {
  margin-bottom: 4px;
  color: #eee;
}

.heed-schematic-item-container {
  position: absolute;
  display: inline-block;
  width: auto;
}

.heed-schematic-shape-box {
  aspect-ratio: 1 / 1;
  box-sizing: content-box;
  height: auto;
}

.heed-schematic-shape-rectangle {
  aspect-ratio: 2 / 1;
  box-sizing: content-box;
  height: auto;
}

.heed-schematic-block,
.heed-schematic-component {
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: #eee;
  background-color: gray;
  font-size: 1.5vw;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.heed-schematic-block.heed-schematic-current-drop-target,
.heed-schematic-component.heed-schematic-current-drop-target {
  box-shadow: 0 0 12px 8px color-mix(in srgb, var(--elm-bg), white 40%);
}

@keyframes move-gradient {
  from { background-position: 50% 50%; background-size: 150 }
  to   { background-position: 60% 40%; background-size: 100}
}

.heed-schematic-current-drop-target {
  border-color: color-mix(in srgb, #111, white, 100%);
  background: radial-gradient(circle at var(--x) var(--y),
    color-mix(in srgb, var(--elm-bg), white 20%) 20%,
    color-mix(in srgb, var(--elm-bg), black 40%) 80%),
              var(--elm-bg);
  background-size: 100%;
}

.heed-schematic-connection-layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.hs-draggable {
  cursor: grab;
}
